html
  head
    title= "simple sendgrid mock server"
    link(rel="stylesheet",href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css")
    style(type='text/css').
      .inbox-messages .card {
        cursor: pointer;
      }
      .card.active {
        background-color: #F5F5F5;
      }
      .inbox-messages .msg-subject {
        padding: 10px 0;
        color: #5D5D5D;
      }
      .inbox-messages .msg-sent-at {
        float: right;
      }
      .messages {
        padding: 40px 20px;
      }
      .message {
        box-sizing: content-box;
      }
  body
    nav.navbar.is-dark.has-shadow
      .navbar-brand
        .navbar-item Simple Sendgrid Mock Server
    .columns.top
      .column.is-5.messages.hero.is-fullheight
        #inbox-messages.inbox-messages
          each mail, index in data
            .card(onclick=`setData(${JSON.stringify(mail)}, ${index})`)
              .card-content
                .msg-header= `${mail.from.name ? `${mail.from.name}(${mail.from.email})` : mail.from.email} → ${mail.personalizations[0].to[0].name ? `${mail.personalizations[0].to[0].name} (${mail.personalizations[0].to[0].email})` : mail.personalizations[0].to[0].email}`
                .msg-subject= mail.subject
                .msg-sent-at= new Date(mail.sent_at).toISOString().slice(0, -8)
      #js-message.column.is-7.messages.hero.is-fullheight.message
      script.
        var before = -1
        function setData(mail, index) {
          if (before === index) return;
          var message = document.getElementById("js-message");
          var content = mail.content[0]
          if (content.type === "text/html") {
            message.innerHTML = content.value;
          } else if (content.type === "text/plain") {
            message.innerHTML = "<pre>" + content.value + "</pre>";
          } else {
            message.innerHTML = '<span>not support content type</span>';
          }
          var cards = document.getElementsByClassName("card") 
          cards[index].classList.add("active")
          if (before !== -1) {
            cards[before].classList.remove("active")
          }
          before = index
        }